h2{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Allura', cursive;
    font-size: 52.5px;
    margin-left: 101px;
    margin-top: 90px;
}
.box img{
    margin-left: 350px;
    margin-top: 60px;
}
.box a{
    text-decoration: none;
    color: #08122B;
    display: inline-block;
    padding-bottom: 1px;
    position: relative;
    margin-left: 5px;
}
.box a::after{
    background-color: #08122B;
  bottom: 0;
  content: '';
  display: block;
  height: 1px;
  left: 0;
  position: absolute;
  transition: .5s all;
  width: 0;
}
.box a:hover::after{
    width: 100%;
}
.box1 h2{
    margin-top: 160px;
} 
.box1 img{
    margin-left: 350px;
    margin-top: 60px;
    margin-bottom: 300px;
}
#end{
    text-decoration: none;
    color: #08122B;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Allura', cursive;
    font-size: 30px;
    display: inline-block;
    padding-bottom: 4px;
    position: relative;
    margin:0 auto;
    display:block;
    width:60px;
    text-align: center;
    margin-bottom: 100px;
}
#end::after{
  background-color: #08122B;
  bottom: 0;
  content: '';
  display: block;
  height: 1px;
  left: 0;
  position: absolute;
  transition: .5s all;
  width: 0;
}
#end:hover::after {
  width: 100%;
}


